# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Dataset
Imagens_Dataset_Garimpo/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/